sudo yum -y update
sudo yum install postgresql
sudo yum install postgresql-devel
sudo yum install git -y
pip3 install sklearn
pip3 install psycopg2-binary
pip3 install requests
pip3 install pandas
pip3 install openpyxl
pip3 install geopy
pip3 install shapely
pip3 install reverse_geocoder